<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jorhen.dao.HaccpMapper">
  <resultMap id="BaseResultMap" type="com.jorhen.domain.Haccp">
    <id column="haccp_id" jdbcType="CHAR" property="haccpId" />
    <result column="ha_id" jdbcType="CHAR" property="haId" />
    <result column="plan_id" jdbcType="CHAR" property="planId" />
    <result column="c_limit" jdbcType="VARCHAR" property="cLimit" />
    <result column="m_itm" jdbcType="VARCHAR" property="mItm" />
    <result column="m_md" jdbcType="VARCHAR" property="mMd" />
    <result column="m_fre" jdbcType="VARCHAR" property="mFre" />
    <result column="m_prin" jdbcType="VARCHAR" property="mPrin" />
    <result column="c_meas" jdbcType="VARCHAR" property="cMeas" />
    <result column="record" jdbcType="VARCHAR" property="record" />
    <result column="confirm" jdbcType="VARCHAR" property="confirm" />
    <result column="rder" jdbcType="VARCHAR" property="rder" />
    <result column="r_date" jdbcType="VARCHAR" property="rDate" />
    <result column="mder" jdbcType="VARCHAR" property="mder" />
    <result column="m_date" jdbcType="VARCHAR" property="mDate" />
     <!-- 一对一关联映射：association -->
	<association property="plan" column="p_id" javaType="com.jorhen.domain.Plan">
			<id column="p_id" jdbcType="CHAR" property="pId" />
			<result column="p_name" jdbcType="VARCHAR" property="pName" />
			<result column="c_id" jdbcType="VARCHAR" property="cId" />
			<result column="maker" jdbcType="VARCHAR" property="maker" />
			<result column="p_status" jdbcType="VARCHAR" property="pStatus" />
			<result column="cw_pw" jdbcType="VARCHAR" property="cwPw" />
			<result column="rder" jdbcType="VARCHAR" property="rder" />
			<result column="r_date" jdbcType="VARCHAR" property="rDate" />
			<result column="mder" jdbcType="VARCHAR" property="mder" />
			<result column="m_date" jdbcType="VARCHAR" property="mDate" />
	</association>
	<association property="ha" column="ha_id" javaType="com.jorhen.domain.Ha">	
    <id column="ha_id" jdbcType="CHAR" property="haId" />
    <result column="plan_id" jdbcType="CHAR" property="planId" />
    <result column="proc_step" jdbcType="VARCHAR" property="procStep" />
    <result column="p_ha" jdbcType="VARCHAR" property="pHa" />
    <result column="ha_desc" jdbcType="VARCHAR" property="haDesc" />
    <result column="issafe" jdbcType="CHAR" property="issafe" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="p_meas" jdbcType="VARCHAR" property="pMeas" />
    <result column="rder" jdbcType="VARCHAR" property="rder" />
    <result column="r_date" jdbcType="VARCHAR" property="rDate" />
    <result column="mder" jdbcType="VARCHAR" property="mder" />
    <result column="m_date" jdbcType="VARCHAR" property="mDate" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    haccp_id, ha_id, plan_id, c_limit, m_itm, m_md, m_fre, m_prin, c_meas, record, confirm, 
    rder, r_date, mder, m_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_haccp
    where haccp_id = #{haccpId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_haccp
    where haccp_id = #{haccpId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.jorhen.domain.Haccp">
    insert into t_haccp (haccp_id, ha_id, plan_id, 
      c_limit, m_itm, m_md, 
      m_fre, m_prin, c_meas, 
      record, confirm, rder, 
      r_date, mder, m_date)
    values (#{haccpId,jdbcType=CHAR}, #{haId,jdbcType=CHAR}, #{planId,jdbcType=CHAR}, 
      #{cLimit,jdbcType=VARCHAR}, #{mItm,jdbcType=VARCHAR}, #{mMd,jdbcType=VARCHAR}, 
      #{mFre,jdbcType=VARCHAR}, #{mPrin,jdbcType=VARCHAR}, #{cMeas,jdbcType=VARCHAR}, 
      #{record,jdbcType=VARCHAR}, #{confirm,jdbcType=VARCHAR}, #{rder,jdbcType=VARCHAR}, 
      #{rDate,jdbcType=VARCHAR}, #{mder,jdbcType=VARCHAR}, #{mDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jorhen.domain.Haccp">
    insert into t_haccp
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="haccpId != null">
        haccp_id,
      </if>
      <if test="haId != null">
        ha_id,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
      <if test="cLimit != null">
        c_limit,
      </if>
      <if test="mItm != null">
        m_itm,
      </if>
      <if test="mMd != null">
        m_md,
      </if>
      <if test="mFre != null">
        m_fre,
      </if>
      <if test="mPrin != null">
        m_prin,
      </if>
      <if test="cMeas != null">
        c_meas,
      </if>
      <if test="record != null">
        record,
      </if>
      <if test="confirm != null">
        confirm,
      </if>
      <if test="rder != null">
        rder,
      </if>
      <if test="rDate != null">
        r_date,
      </if>
      <if test="mder != null">
        mder,
      </if>
      <if test="mDate != null">
        m_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="haccpId != null">
        #{haccpId,jdbcType=CHAR},
      </if>
      <if test="haId != null">
        #{haId,jdbcType=CHAR},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=CHAR},
      </if>
      <if test="cLimit != null">
        #{cLimit,jdbcType=VARCHAR},
      </if>
      <if test="mItm != null">
        #{mItm,jdbcType=VARCHAR},
      </if>
      <if test="mMd != null">
        #{mMd,jdbcType=VARCHAR},
      </if>
      <if test="mFre != null">
        #{mFre,jdbcType=VARCHAR},
      </if>
      <if test="mPrin != null">
        #{mPrin,jdbcType=VARCHAR},
      </if>
      <if test="cMeas != null">
        #{cMeas,jdbcType=VARCHAR},
      </if>
      <if test="record != null">
        #{record,jdbcType=VARCHAR},
      </if>
      <if test="confirm != null">
        #{confirm,jdbcType=VARCHAR},
      </if>
      <if test="rder != null">
        #{rder,jdbcType=VARCHAR},
      </if>
      <if test="rDate != null">
        #{rDate,jdbcType=VARCHAR},
      </if>
      <if test="mder != null">
        #{mder,jdbcType=VARCHAR},
      </if>
      <if test="mDate != null">
        #{mDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jorhen.domain.Haccp">
    update t_haccp
    <set>
      <if test="haId != null">
        ha_id = #{haId,jdbcType=CHAR},
      </if>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=CHAR},
      </if>
      <if test="cLimit != null">
        c_limit = #{cLimit,jdbcType=VARCHAR},
      </if>
      <if test="mItm != null">
        m_itm = #{mItm,jdbcType=VARCHAR},
      </if>
      <if test="mMd != null">
        m_md = #{mMd,jdbcType=VARCHAR},
      </if>
      <if test="mFre != null">
        m_fre = #{mFre,jdbcType=VARCHAR},
      </if>
      <if test="mPrin != null">
        m_prin = #{mPrin,jdbcType=VARCHAR},
      </if>
      <if test="cMeas != null">
        c_meas = #{cMeas,jdbcType=VARCHAR},
      </if>
      <if test="record != null">
        record = #{record,jdbcType=VARCHAR},
      </if>
      <if test="confirm != null">
        confirm = #{confirm,jdbcType=VARCHAR},
      </if>
      <if test="rder != null">
        rder = #{rder,jdbcType=VARCHAR},
      </if>
      <if test="rDate != null">
        r_date = #{rDate,jdbcType=VARCHAR},
      </if>
      <if test="mder != null">
        mder = #{mder,jdbcType=VARCHAR},
      </if>
      <if test="mDate != null">
        m_date = #{mDate,jdbcType=VARCHAR},
      </if>
    </set>
    where haccp_id = #{haccpId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jorhen.domain.Haccp">
    update t_haccp
    set ha_id = #{haId,jdbcType=CHAR},
      plan_id = #{planId,jdbcType=CHAR},
      c_limit = #{cLimit,jdbcType=VARCHAR},
      m_itm = #{mItm,jdbcType=VARCHAR},
      m_md = #{mMd,jdbcType=VARCHAR},
      m_fre = #{mFre,jdbcType=VARCHAR},
      m_prin = #{mPrin,jdbcType=VARCHAR},
      c_meas = #{cMeas,jdbcType=VARCHAR},
      record = #{record,jdbcType=VARCHAR},
      confirm = #{confirm,jdbcType=VARCHAR},
      rder = #{rder,jdbcType=VARCHAR},
      r_date = #{rDate,jdbcType=VARCHAR},
      mder = #{mder,jdbcType=VARCHAR},
      m_date = #{mDate,jdbcType=VARCHAR}
    where haccp_id = #{haccpId,jdbcType=CHAR}
  </update>
                 	<!-- ==============以下內容是根據自身業務擴展的內容======================= -->
	<!-- select標籤的id屬性與PlanMapper介面中定義的getAllPlan方法要一模一樣 -->
	<select id="getMyHaccp" parameterType="java.lang.String"  resultMap="BaseResultMap">
		select
		 *
		from t_haccp c join t_ha h on c.ha_id = h.ha_id 
		join t_plan p  on c.plan_id = p.p_id  
		and c.rder = #{rder}
	</select>
	
	<select id="selectHaccpById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select *
		from t_haccp c join t_ha h on c.ha_id = h.ha_id 
		join t_plan p  on c.plan_id = p.p_id  
		and c.haccp_id=#{haccpId}
	</select>
</mapper>