<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jorhen.dao.HaMapper">
  <resultMap id="BaseResultMap" type="com.jorhen.domain.Ha">
    <id column="ha_id" jdbcType="CHAR" property="haId" />
    <result column="plan_id" jdbcType="CHAR" property="planId" />
    <result column="proc_step" jdbcType="VARCHAR" property="procStep" />
    <result column="p_ha" jdbcType="VARCHAR" property="pHa" />
    <result column="ha_desc" jdbcType="VARCHAR" property="haDesc" />
    <result column="issafe" jdbcType="CHAR" property="issafe" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="p_meas" jdbcType="VARCHAR" property="pMeas" />
    <result column="rder" jdbcType="VARCHAR" property="rder" />
    <result column="r_date" jdbcType="VARCHAR" property="rDate" />
    <result column="mder" jdbcType="VARCHAR" property="mder" />
    <result column="m_date" jdbcType="VARCHAR" property="mDate" />
            		<!-- 一对一关联映射：association -->
		<association property="plan" column="p_id" javaType="com.jorhen.domain.Plan">
			<id column="p_id" jdbcType="CHAR" property="pId" />
			<result column="p_name" jdbcType="VARCHAR" property="pName" />
			<result column="c_id" jdbcType="VARCHAR" property="cId" />
			<result column="maker" jdbcType="VARCHAR" property="maker" />
			<result column="p_status" jdbcType="VARCHAR" property="pStatus" />
			<result column="cw_pw" jdbcType="VARCHAR" property="cwPw" />
			<result column="rder" jdbcType="VARCHAR" property="rder" />
			<result column="r_date" jdbcType="VARCHAR" property="rDate" />
			<result column="mder" jdbcType="VARCHAR" property="mder" />
			<result column="m_date" jdbcType="VARCHAR" property="mDate" />
		</association>
		     <!-- 一对一关联映射：association -->
	<association property="ccp" column="ha_id" javaType="com.jorhen.domain.Ccp">		
	    <id column="ccp_id" jdbcType="CHAR" property="ccpId" />
    <result column="ha_id" jdbcType="CHAR" property="haId" />
    <result column="plan_id" jdbcType="CHAR" property="planId" />
    <result column="q_tb" jdbcType="VARCHAR" property="qTb" />
    <result column="q1" jdbcType="VARCHAR" property="q1" />
    <result column="q2" jdbcType="VARCHAR" property="q2" />
    <result column="q3" jdbcType="VARCHAR" property="q3" />
    <result column="q4" jdbcType="VARCHAR" property="q4" />
    <result column="ccp" jdbcType="VARCHAR" property="ccp" />
    <result column="rder" jdbcType="VARCHAR" property="rder" />
    <result column="r_date" jdbcType="VARCHAR" property="rDate" />
    <result column="mder" jdbcType="VARCHAR" property="mder" />
    <result column="m_date" jdbcType="VARCHAR" property="mDate" />
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    ha_id, plan_id, proc_step, p_ha, ha_desc, issafe, reason, p_meas, rder, r_date, mder, m_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ha
    where ha_id = #{haId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_ha
    where ha_id = #{haId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.jorhen.domain.Ha">
    insert into t_ha (ha_id, plan_id, proc_step, 
      p_ha, ha_desc, issafe, reason, p_meas, 
      rder, r_date, mder, 
      m_date)
    values (#{haId,jdbcType=CHAR}, #{planId,jdbcType=CHAR}, #{procStep,jdbcType=VARCHAR},  
      #{pHa,jdbcType=VARCHAR}, #{haDesc,jdbcType=VARCHAR}, #{issafe,jdbcType=CHAR}, #{reason,jdbcType=VARCHAR}, #{pMeas,jdbcType=VARCHAR}, 
      #{rder,jdbcType=VARCHAR}, #{rDate,jdbcType=VARCHAR}, #{mder,jdbcType=VARCHAR}, 
      #{mDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jorhen.domain.Ha">
    insert into t_ha
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="haId != null">
        ha_id,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
      <if test="procStep != null">
        proc_step,
      </if>
      <if test="pHa != null">
        p_ha,
      </if>
      <if test="haDesc != null">
        ha_desc,
      </if>
      <if test="issafe != null">
        issafe,
      </if>
      <if test="reason != null">
        reason,
      </if>
      <if test="pMeas != null">
        p_meas,
      </if>
      <if test="rder != null">
        rder,
      </if>
      <if test="rDate != null">
        r_date,
      </if>
      <if test="mder != null">
        mder,
      </if>
      <if test="mDate != null">
        m_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="haId != null">
        #{haId,jdbcType=CHAR},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=CHAR},
      </if>
      <if test="procStep != null">
        #{procStep,jdbcType=VARCHAR},
      </if>
      <if test="pHa != null">
        #{pHa,jdbcType=VARCHAR},
      </if>
      <if test="haDesc != null">
        #{haDesc,jdbcType=VARCHAR},
      </if>
      <if test="issafe != null">
        #{issafe,jdbcType=CHAR},
      </if>
      <if test="reason != null">
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="pMeas != null">
        #{pMeas,jdbcType=VARCHAR},
      </if>
      <if test="rder != null">
        #{rder,jdbcType=VARCHAR},
      </if>
      <if test="rDate != null">
        #{rDate,jdbcType=VARCHAR},
      </if>
      <if test="mder != null">
        #{mder,jdbcType=VARCHAR},
      </if>
      <if test="mDate != null">
        #{mDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jorhen.domain.Ha">
    update t_ha
    <set>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=CHAR},
      </if>
      <if test="procStep != null">
        proc_step = #{procStep,jdbcType=VARCHAR},
      </if>
      <if test="pHa != null">
        p_ha = #{pHa,jdbcType=VARCHAR},
      </if>
       <if test="haDesc != null">
        ha_desc = #{haDesc,jdbcType=VARCHAR},
      </if>
      <if test="issafe != null">
        issafe = #{issafe,jdbcType=CHAR},
      </if>
      <if test="reason != null">
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="pMeas != null">
        p_meas = #{pMeas,jdbcType=VARCHAR},
      </if>
      <if test="rder != null">
        rder = #{rder,jdbcType=VARCHAR},
      </if>
      <if test="rDate != null">
        r_date = #{rDate,jdbcType=VARCHAR},
      </if>
      <if test="mder != null">
        mder = #{mder,jdbcType=VARCHAR},
      </if>
      <if test="mDate != null">
        m_date = #{mDate,jdbcType=VARCHAR},
      </if>
    </set>
    where ha_id = #{haId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jorhen.domain.Ha">
    update t_ha
    set plan_id = #{planId,jdbcType=CHAR},
      proc_step = #{procStep,jdbcType=VARCHAR},
      p_ha = #{pHa,jdbcType=VARCHAR},
      ha_desc = #{haDesc,jdbcType=VARCHAR},
      issafe = #{issafe,jdbcType=CHAR},
      reason = #{reason,jdbcType=VARCHAR},
      p_meas = #{pMeas,jdbcType=VARCHAR},
      rder = #{rder,jdbcType=VARCHAR},
      r_date = #{rDate,jdbcType=VARCHAR},
      mder = #{mder,jdbcType=VARCHAR},
      m_date = #{mDate,jdbcType=VARCHAR}
    where ha_id = #{haId,jdbcType=CHAR}
  </update>
  
             	<!-- ==============以下內容是根據自身業務擴展的內容======================= -->
	<!-- select標籤的id屬性與PlanMapper介面中定義的getAllPlan方法要一模一樣 -->
	<select id="getMyHa" parameterType="java.lang.String"  resultMap="BaseResultMap">
		select
		*
		from t_ha h join t_plan p on h.plan_id = p.p_id 
		join t_ccp c on h.ha_id = c.ha_id		
		and h.rder = #{rder}
	</select>
	
	<select id="selectHaById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select t.*, p.*
		from t_ha t, t_plan p 
		where t.plan_id = p.p_id and t.ha_id=#{haId}
	</select>
	
	<!-- 匯出專案相同 planid 多筆data的 report -->
	<select id="selectHaByPlanId" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		*
		from t_ha h join t_plan p on h.plan_id = p.p_id  
		and h.plan_Id = #{planId}
	</select>
	<!-- 列出各列單筆report要送出planid -->
	<select id="getHaByPlanIdDistinct" parameterType="java.lang.String" resultMap="BaseResultMap">
		select
		distinct h.plan_Id, p.p_name
		from t_ha h join t_plan p on h.plan_id = p.p_id 
		join t_ccp c on h.ha_id = c.ha_id		
		and h.rder = #{rder}
	</select>
</mapper>