<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jorhen.dao.PsMapper">
  <resultMap id="BaseResultMap" type="com.jorhen.domain.Ps">
    <id column="ps_id" jdbcType="CHAR" property="psId" />
    <result column="plan_id" jdbcType="CHAR" property="planId" />
     <result column="c_id" jdbcType="VARCHAR" property="cId" />
    <result column="p_name" jdbcType="VARCHAR" property="pName" />   
    <result column="matrl_m" jdbcType="VARCHAR" property="matrlM" />
    <result column="matrl_o" jdbcType="VARCHAR" property="matrlO" />
    <result column="fd_add" jdbcType="VARCHAR" property="fdAdd" />
    <result column="prcs_aids" jdbcType="VARCHAR" property="prcsAids" />
    <result column="matrl" jdbcType="VARCHAR" property="matrl" />
    <result column="pdt_ft" jdbcType="VARCHAR" property="pdtFt" />
    <result column="pdt_md" jdbcType="VARCHAR" property="pdtMd" />
    <result column="pm_desc" jdbcType="VARCHAR" property="pmDesc" />
    <result column="st_md" jdbcType="VARCHAR" property="stMd" />
    <result column="s_life" jdbcType="VARCHAR" property="sLife" />
    <result column="notes" jdbcType="VARCHAR" property="notes" />
    <result column="rder" jdbcType="VARCHAR" property="rder" />
    <result column="r_date" jdbcType="VARCHAR" property="rDate" />
    <result column="mder" jdbcType="VARCHAR" property="mder" />
    <result column="m_date" jdbcType="VARCHAR" property="mDate" />
    		<!-- 一对一关联映射：association -->
		<association property="plan" column="p_id" javaType="com.jorhen.domain.Plan">
			<id column="p_id" jdbcType="CHAR" property="pId" />
			<result column="ppname" jdbcType="VARCHAR" property="pName" />
			<result column="c_id" jdbcType="VARCHAR" property="cId" />
			<result column="maker" jdbcType="VARCHAR" property="maker" />
			<result column="p_status" jdbcType="VARCHAR" property="pStatus" />
			<result column="cw_pw" jdbcType="VARCHAR" property="cwPw" />
			<result column="rder" jdbcType="VARCHAR" property="rder" />
			<result column="r_date" jdbcType="VARCHAR" property="rDate" />
			<result column="mder" jdbcType="VARCHAR" property="mder" />
			<result column="m_date" jdbcType="VARCHAR" property="mDate" />
		</association>
  </resultMap>
  <sql id="Base_Column_List">
    ps_id, plan_id,c_id, p_name, matrl_m, matrl_o, fd_add, prcs_aids, matrl, pdt_ft, pdt_md, 
    pm_desc, st_md, s_life, notes, rder, r_date, mder, m_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_ps
    where ps_id = #{psId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_ps
    where ps_id = #{psId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.jorhen.domain.Ps">
    insert into t_ps (ps_id, plan_id,c_id, p_name, 
      matrl_m, matrl_o, fd_add, 
      prcs_aids, matrl, pdt_ft, 
      pdt_md, pm_desc, st_md, 
      s_life, notes, rder, 
      r_date, mder, m_date)
    values (#{psId,jdbcType=CHAR}, #{planId,jdbcType=CHAR}, #{cId,jdbcType=VARCHAR}, #{pName,jdbcType=VARCHAR}, 
      #{matrlM,jdbcType=VARCHAR}, #{matrlO,jdbcType=VARCHAR}, #{fdAdd,jdbcType=VARCHAR}, 
      #{prcsAids,jdbcType=VARCHAR}, #{matrl,jdbcType=VARCHAR}, #{pdtFt,jdbcType=VARCHAR}, 
      #{pdtMd,jdbcType=VARCHAR}, #{pmDesc,jdbcType=VARCHAR}, #{stMd,jdbcType=VARCHAR}, 
      #{sLife,jdbcType=VARCHAR}, #{notes,jdbcType=VARCHAR}, #{rder,jdbcType=VARCHAR}, 
      #{rDate,jdbcType=VARCHAR}, #{mder,jdbcType=VARCHAR}, #{mDate,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jorhen.domain.Ps">
    insert into t_ps
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="psId != null">
        ps_id,
      </if>
      <if test="planId != null">
        plan_id,
      </if>
      <if test="cId != null">
        c_id,
      </if>
      <if test="pName != null">
        p_name,
      </if>
      <if test="matrlM != null">
        matrl_m,
      </if>
      <if test="matrlO != null">
        matrl_o,
      </if>
      <if test="fdAdd != null">
        fd_add,
      </if>
      <if test="prcsAids != null">
        prcs_aids,
      </if>
      <if test="matrl != null">
        matrl,
      </if>
      <if test="pdtFt != null">
        pdt_ft,
      </if>
      <if test="pdtMd != null">
        pdt_md,
      </if>
      <if test="pmDesc != null">
        pm_desc,
      </if>
      <if test="stMd != null">
        st_md,
      </if>
      <if test="sLife != null">
        s_life,
      </if>
      <if test="notes != null">
        notes,
      </if>
      <if test="rder != null">
        rder,
      </if>
      <if test="rDate != null">
        r_date,
      </if>
      <if test="mder != null">
        mder,
      </if>
      <if test="mDate != null">
        m_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="psId != null">
        #{psId,jdbcType=CHAR},
      </if>
      <if test="planId != null">
        #{planId,jdbcType=CHAR},
      </if>
      <if test="cId != null">
        #{cId,jdbcType=VARCHAR},
      </if>
      <if test="pName != null">
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="matrlM != null">
        #{matrlM,jdbcType=VARCHAR},
      </if>
      <if test="matrlO != null">
        #{matrlO,jdbcType=VARCHAR},
      </if>
      <if test="fdAdd != null">
        #{fdAdd,jdbcType=VARCHAR},
      </if>
      <if test="prcsAids != null">
        #{prcsAids,jdbcType=VARCHAR},
      </if>
      <if test="matrl != null">
        #{matrl,jdbcType=VARCHAR},
      </if>
      <if test="pdtFt != null">
        #{pdtFt,jdbcType=VARCHAR},
      </if>
      <if test="pdtMd != null">
        #{pdtMd,jdbcType=VARCHAR},
      </if>
      <if test="pmDesc != null">
        #{pmDesc,jdbcType=VARCHAR},
      </if>
      <if test="stMd != null">
        #{stMd,jdbcType=VARCHAR},
      </if>
      <if test="sLife != null">
        #{sLife,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        #{notes,jdbcType=VARCHAR},
      </if>
      <if test="rder != null">
        #{rder,jdbcType=VARCHAR},
      </if>
      <if test="rDate != null">
        #{rDate,jdbcType=VARCHAR},
      </if>
      <if test="mder != null">
        #{mder,jdbcType=VARCHAR},
      </if>
      <if test="mDate != null">
        #{mDate,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jorhen.domain.Ps">
    update t_ps
    <set>
      <if test="planId != null">
        plan_id = #{planId,jdbcType=CHAR},
      </if>
      <if test="cId != null">
        c_id = #{cId,jdbcType=VARCHAR},
      </if>
      <if test="pName != null">
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="matrlM != null">
        matrl_m = #{matrlM,jdbcType=VARCHAR},
      </if>
      <if test="matrlO != null">
        matrl_o = #{matrlO,jdbcType=VARCHAR},
      </if>
      <if test="fdAdd != null">
        fd_add = #{fdAdd,jdbcType=VARCHAR},
      </if>
      <if test="prcsAids != null">
        prcs_aids = #{prcsAids,jdbcType=VARCHAR},
      </if>
      <if test="matrl != null">
        matrl = #{matrl,jdbcType=VARCHAR},
      </if>
      <if test="pdtFt != null">
        pdt_ft = #{pdtFt,jdbcType=VARCHAR},
      </if>
      <if test="pdtMd != null">
        pdt_md = #{pdtMd,jdbcType=VARCHAR},
      </if>
      <if test="pmDesc != null">
        pm_desc = #{pmDesc,jdbcType=VARCHAR},
      </if>
      <if test="stMd != null">
        st_md = #{stMd,jdbcType=VARCHAR},
      </if>
      <if test="sLife != null">
        s_life = #{sLife,jdbcType=VARCHAR},
      </if>
      <if test="notes != null">
        notes = #{notes,jdbcType=VARCHAR},
      </if>
      <if test="rder != null">
        rder = #{rder,jdbcType=VARCHAR},
      </if>
      <if test="rDate != null">
        r_date = #{rDate,jdbcType=VARCHAR},
      </if>
      <if test="mder != null">
        mder = #{mder,jdbcType=VARCHAR},
      </if>
      <if test="mDate != null">
        m_date = #{mDate,jdbcType=VARCHAR},
      </if>
    </set>
    where ps_id = #{psId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jorhen.domain.Ps">
    update t_ps
    set plan_id = #{planId,jdbcType=CHAR},
      c_id = #{cId,jdbcType=VARCHAR},
      p_name = #{pName,jdbcType=VARCHAR},
      matrl_m = #{matrlM,jdbcType=VARCHAR},
      matrl_o = #{matrlO,jdbcType=VARCHAR},
      fd_add = #{fdAdd,jdbcType=VARCHAR},
      prcs_aids = #{prcsAids,jdbcType=VARCHAR},
      matrl = #{matrl,jdbcType=VARCHAR},
      pdt_ft = #{pdtFt,jdbcType=VARCHAR},
      pdt_md = #{pdtMd,jdbcType=VARCHAR},
      pm_desc = #{pmDesc,jdbcType=VARCHAR},
      st_md = #{stMd,jdbcType=VARCHAR},
      s_life = #{sLife,jdbcType=VARCHAR},
      notes = #{notes,jdbcType=VARCHAR},
      rder = #{rder,jdbcType=VARCHAR},
      r_date = #{rDate,jdbcType=VARCHAR},
      mder = #{mder,jdbcType=VARCHAR},
      m_date = #{mDate,jdbcType=VARCHAR}
    where ps_id = #{psId,jdbcType=CHAR}
  </update>
  
         	<!-- ==============以下內容是根據自身業務擴展的內容======================= -->
	<!-- select標籤的id屬性與PlanMapper介面中定義的getAllPlan方法要一模一樣 -->
	<select id="getMyPs" parameterType="java.lang.String"  resultMap="BaseResultMap">
		select
		t.*, p.*,p.p_name as ppname
		from t_ps t, t_plan p
		where t.plan_id = p.p_id and t.rder = #{rder}
	</select>
	
	<select id="selectPsById" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select t.*, p.*, p.p_name as ppname
		from t_ps t, t_plan p 
		where t.plan_id = p.p_id and t.ps_id=#{psId}
	</select>
	
    <select id="getMyPsBypLd" parameterType="java.lang.String"  resultMap="BaseResultMap">
		select
		*
		from t_ps t join t_plan p
		on t.plan_id = p.p_id and t.plan_id = #{planId}
	</select>
		<select id="getMyPsByQuery" parameterType="com.jorhen.domain.Query"  resultMap="BaseResultMap">
		select
		 *
		from t_ps t join t_plan p
		on t.plan_id = p.p_id				
            
        
     	<if test="qPstatus !=null and qPstatus !='' ">
			and p.p_status=#{qPstatus}
		</if>
		
		<if test="qRder !=null and qRder !='' ">
			and t.rder = #{qRder}
		</if>	
		
		<if test="qPname !=null and qPname !='' ">
			and p.p_name=#{qPname}
		</if>
		
		<if test="qCatId !=null and qCatId !='' ">
			and p.c_id=#{qCatId}
		</if>			
	
	
	   <if test="rDateStart !=null and rDateStart !='' ">
	     <if test="rDateEnd !=null and rDateEnd !='' ">	    
	        and (t.r_date between #{rDateStart} and #{rDateEnd})			
		</if>
		</if>		
		
		order by  t.r_date desc	

	</select>
	
	
</mapper>