<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jorhen.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.jorhen.domain.User">
    <id column="u_id" jdbcType="CHAR" property="uId" />
    <result column="u_name" jdbcType="VARCHAR" property="uName" />
    <result column="u_pw" jdbcType="VARCHAR" property="uPw" />
    <result column="u_email" jdbcType="VARCHAR" property="uEmail" />
    <result column="u_posi" jdbcType="VARCHAR" property="uPosi" />
    <result column="rd_pot" jdbcType="VARCHAR" property="rdPot" />
  </resultMap>
  <sql id="Base_Column_List">
    u_id, u_name, u_pw, u_email, u_posi, rd_pot
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user
    where u_id = #{uId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_user
    where u_id = #{uId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.jorhen.domain.User">
    insert into t_user (u_id, u_name, u_pw, 
      u_email, u_posi, rd_pot)
    values (#{uId,jdbcType=CHAR}, #{uName,jdbcType=VARCHAR}, #{uPw,jdbcType=VARCHAR}, 
      #{uEmail,jdbcType=VARCHAR}, #{uPosi,jdbcType=VARCHAR}, #{rdPot,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jorhen.domain.User">
    insert into t_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        u_id,
      </if>
      <if test="uName != null">
        u_name,
      </if>
      <if test="uPw != null">
        u_pw,
      </if>
      <if test="uEmail != null">
        u_email,
      </if>
      <if test="uPosi != null">
        u_posi,
      </if>
      <if test="rdPot != null">
        rd_pot,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        #{uId,jdbcType=CHAR},
      </if>
      <if test="uName != null">
        #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uPw != null">
        #{uPw,jdbcType=VARCHAR},
      </if>
      <if test="uEmail != null">
        #{uEmail,jdbcType=VARCHAR},
      </if>
      <if test="uPosi != null">
        #{uPosi,jdbcType=VARCHAR},
      </if>
      <if test="rdPot != null">
        #{rdPot,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jorhen.domain.User">
    update t_user
    <set>
      <if test="uName != null">
        u_name = #{uName,jdbcType=VARCHAR},
      </if>
      <if test="uPw != null">
        u_pw = #{uPw,jdbcType=VARCHAR},
      </if>
      <if test="uEmail != null">
        u_email = #{uEmail,jdbcType=VARCHAR},
      </if>
      <if test="uPosi != null">
        u_posi = #{uPosi,jdbcType=VARCHAR},
      </if>
      <if test="rdPot != null">
        rd_pot = #{rdPot,jdbcType=VARCHAR},
      </if>
    </set>
    where u_id = #{uId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jorhen.domain.User">
    update t_user
    set u_name = #{uName,jdbcType=VARCHAR},
      u_pw = #{uPw,jdbcType=VARCHAR},
      u_email = #{uEmail,jdbcType=VARCHAR},
      u_posi = #{uPosi,jdbcType=VARCHAR},
      rd_pot = #{rdPot,jdbcType=VARCHAR}
    where u_id = #{uId,jdbcType=CHAR}
  </update>
  
  	<!-- ==============以下內容是根據自身業務擴展的內容======================= -->
	<!-- select標籤的id屬性與UserMapper介面中定義的getAllUser方法要一模一樣 -->
	<select id="getAllUser" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_user
	</select>

	<!-- 根據名稱查詢使用者資訊和登入 -->
	<select id="findUserByNamePw" resultMap="BaseResultMap">
		select 
        <include refid="Base_Column_List" />
        from t_user

		<where>
			<if test="uName !=null and uName !='' ">
				u_name = #{uName}
			</if>
			<if test="uPw !=null and uPw !='' ">
				and u_pw = #{uPw}
			</if>
		</where>
	</select>
	
	<!-- 根據帳密查詢使用者存在與否 -->
	<select id="isUserExist" resultType="boolean">
		select count(u_id) from t_user

		<where>
			<if test="uName !=null and uName !='' ">
				u_name = #{uName}
			</if>
			<if test="uPw !=null and uPw !='' ">
				and u_pw = #{uPw}
			</if>
		</where>
	</select>
</mapper>