<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- 引入dbconfig.properties屬性檔 -->
    <context:property-placeholder location="classpath:dbconfig.properties" />
    <!-- 自動掃描(自動注入)，掃描com.jorhen.service這個包以及它的子包的所有使用@Service注解標注的類 -->
    <context:component-scan base-package="com.jorhen.service" />
</beans>
